#t1 h1{
    font-size: 40px;
    color:rgb(15, 152, 161);
    padding: 30px 10px 0px 300px;
}
*{
  background-color: #fdb20fab;  
}
#img1{
    border-radius: 50%;
    float:left;
    width: 150px;
    height: 150px;
    padding:0px 0px 10px 10px;
}
#d2{
    padding: 0px 20px 20px 500px ;
}
#d2 p{
    color: rgb(43, 124, 19);
    padding:0px 10px 10px 200px;
    font-size: 25px;
}
#t1 h2{
    font-size: 25px;
    color:rgb(15, 152, 161);
    padding: 0px 10px 10px 450px;
}

#t1 h4{
    font-size: 25px;
    color:rgb(87, 13, 13);
    padding: 0px 10px 0px 600px;
}
#t3{
    margin:10px 100px 0px 200px;
    width:70%;
    height:60%;
    border:5px solid rgb(68, 68, 68);
    background: url("./img/logo2\ .png") center no-repeat;
    font-size: 20px;
}
#t3 td,th{
    border:1px solid black;
    padding:4px;
}
#t3 th{
    color:crimson
}
#t3 td{
    color:rgb(49, 7, 49)
}
#t3 td a{
    text-decoration: none;
}